body {
  font-family: "Trirong", serif;
  color: whitesmoke;
}
html{
  scroll-behavior: smooth;
}

#one{
  background-image: url("../assets/backgrounds/h_img.jpg");
  height:100vh;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.two {
  margin-left: auto;
  margin-right: auto;
  display: block;
}