body {
  font-family: "Trirong", serif;
  font-display: block;
}
html{
  scroll-behavior: smooth;
}

#one{
  background-image: url("../assets/backgrounds/h_img.jpg");
  height:100vh;
  background-size: cover;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}

.two {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.three{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.four{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.five{
  text-align: center;
  background-image: url("backgrounds/s_image.jpg");
}